<!DOCTYPE HTML>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
        
        
    </head>

    <body style="background-color: black;">     
    <div class="verticalcenter">
        <canvas id="icon1" width="200vw" height="200vw"  ></canvas>
        <p id="curr-weather-icon"></p>
    </div>
    <footer>
        <p style="margin: 0;">author: 43y3s</p>
        <a style="margin: 0;" href="https://github.com/incub4t0r/flaskweather">source/github</a>
    </footer>  
    <script type="text/javascript" src="../static/weatherballoon.js"></script>
        <script type="text/javascript" src="../static/skycons.js"></script>
        <script type="text/javascript" src="../static/icon.js"></script>
</html>