<!DOCTYPE HTML>


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width">
        
        <title>
            malga
        </title>
        <link type="text/css" rel="stylesheet" href="/static/landing.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    </head>
</html>
<body>
    <header id='mainHeader'>
        <div id='responsiveLogo'>
            <img src='/static/img/malgalogo.PNG' />
        </div>
    </header>
    
    <form class="verticalcenter" action="/" method="POST">
        <div style="padding-bottom: 10px;">
            <input type="text" name="cityID" placeholder="enter city name" autocomplete="off" required>
        </div>
        <input class="button" type="submit" value="submit">
    </form>
</body>

<footer>
    <p style="margin: 0;">author: 43y3s</p>
    <a style="margin: 0;" href="https://github.com/incub4t0r/flaskweather">source/github</a>
</footer>  